@charset "utf-8";
.main_nav { padding-top: 0; }
.main_nav li { position:relative; padding-bottom:20px; padding-top:20px; }     
.main_nav li.active { background-color:#333; }
.main_nav li.active a { color:#fff; background-color:transparent; }    

.bread_box { clear:both; width: 1440px; margin: 1em auto; }
.breadcrumb {  text-align:right;  color:#999; font-size:14px; word-spacing:8px; }
.breadcrumb a { color:#999; }
.btn { display:block; width:120px; padding:1.2em; background-color:#333; color:#fff; margin: 1em auto; text-align: center; border:1px solid #333; }
.btn:hover { background-color:#fff; color:#333;  }
.wbtn { display:block; width:120px; padding:1.2em; color:#333; background-color:#fff; margin: 1em auto; text-align: center; border:1px solid #333; }
.wbtn:hover { color:#fff; background-color:#333; }