@charset "utf-8";

.page_tit { line-height: 1.3; padding-top: 50px; }
.page_tit:after { display:none; }
.page_tit:before { display:none; }

#page1 { height:auto; padding-bottom: 60px; }
#page1 .page_wrap { clear:both; width: 100%; height: auto; padding-bottom: 60px;  }
#page1 .img_fr { clear:both; 
background-image:url("./images/sub2/bg_smile_visumax.png");
background-position:center center;  background-repeat:no-repeat;
background-size:cover; min-height:750px; }
#page1 .col_lst { width: 1040px; margin:20px auto; color:#fff; }
#page1 .col_lst li { text-align:center; position:relative; height: 80px; }

#page1 .col_lst li:before { content:"";
display:block; width:280px; height:100px; z-index:10;
border-radius:60px; position:absolute; top:-28px; left:-45px; }
#page1 .col_lst li.bbox:before {
    background:rgba(56,143,183,0.8);
}
#page1 .col_lst li.gbox:before {
    background:rgba(150,128,109,0.8);
}

#page1 .col_lst li .wtxt { color:#fff; position:absolute; display:block;    z-index:11;    width:190px; 
top: 0; left: 0; text-align: center; }


