@charset "utf-8";
* { margin: 0; padding: 0; }
body, html { width: 100%; font-family:"Noto Sans kr", "본고딕", sans-serif; overflow-x: hidden;  
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */ 
}
::-webkit-scrollbar { display: none; } /* Chrome and Safari */
ul { list-style:none; }
a { text-decoration:none; }
input[type=button], input[type=submit], input[type=reset], button { user-select: none; background-color:transparent; border:0; outline:0; }